<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uttarakhand Millets</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <div class="navbar bg-base-100" style="background: #c7fabb">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a>Item 1</a></li>
            <li>
              <a>Parent</a>
              <ul class="p-2">
                <li><a>Submenu 1</a></li>
                <li><a>Submenu 2</a></li>
              </ul>
            </li>
            <li><a>Item 3</a></li>
          </ul>
        </div>
        <a class="btn btn-ghost text-xl">MilletiQue</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a>Home</a></li>
          <li>
            <details>
              <summary>Menu</summary>
              <ul class="p-2">
                <li><a href="/views/signup.ejs">Sign up</a></li>
                <li>
                  <a href="/views/login.ejs">Log in</a>
                </li>
              </ul>
            </details>
          </li>
          <li><a>About Us</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <a class="btn">Explore</a>
      </div>
    </div>
    <div class="header">
      <h1>Welcome to Uttarakhand Millets</h1>
      <br />
      <br />
      <p>Discover the taste of the Himalayas</p>
    </div>
    <div class="carousel rounded-box" background="">
      <div class="carousel-item">
        <img
          style="width: 300px; height: 400px"
          ,
          src="Images/20230801_162837.jpg"
          ,
          alt="Burger"
        />
      </div>
      <div class="carousel-item">
        <img
          style="width: 300px; height: 400px"
          ,
          src="Images/20230602_185423.jpg"
          ,
          alt="Burger"
        />
      </div>
      <div class="carousel-item">
        <img
          style="width: 300px; height: 400px"
          ,
          src="Images/20230602_185123.jpg"
          ,
          alt="Burger"
        />
      </div>
      <div class="carousel-item">
        <img
          style="width: 300px; height: 400px"
          ,
          src="Images/20220910_112259.jpg"
          ,
          alt="Burger"
        />
      </div>
      <div class="carousel-item">
        <img
          style="width: 300px; height: 400px"
          ,
          src="Images/20220314_091759.jpg"
          ,
          alt="Burger"
        />
      </div>
      <div class="carousel-item">
        <img
          style="width: 300px; height: 400px"
          ,
          src="Images/20220427_180517.jpg"
          ,
          alt="Burger"
        />
      </div>
      <div class="carousel-item">
        <img
          style="width: 300px; height: 400px"
          ,
          src="Images/20230602_185257.jpg"
          ,
          alt="Burger"
        />
      </div>
    </div>
    <div class="diff aspect-[16/9]" style="border-radius: 20px">
      <div class="diff-item-1">
        <div
          class="bg-primary text-primary-content text-9xl font-black grid place-content-center"
          style="background: #52b4ff; font-size: 8vw"
        >
          SHOP
        </div>
      </div>
      <div class="diff-item-2">
        <div
          class="bg-base-200 text-9xl font-black grid place-content-center"
          style="background: #94ffaf; font-size: 8vw"
        >
          EXPLORE
        </div>
      </div>
      <div class="diff-resizer"></div>
    </div>
    <div class="content">
      <div class="animate__animated animate__backInUp">
        <div
          class="bg-base-200 text-9xl font-black grid place-content-center"
          style="background: #f7e0e0; font-size: 8vw"
        >
          OUR PRODUCTS
        </div>
      </div>
      <div class="grid-container">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              src="https://kesarbaug.in/wp-content/uploads/2023/06/Finger-millet.jpg"
              alt="Finger Millet"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Koda</h2>
            <p>
              Koda also known as Mandua or Finger Millet is a cereal crop right
              from the farms of Uttarakhand
            </p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              src="https://freshon.in/wp-content/uploads/2020/10/nzXl5l6gmP-scaled.jpg"
              alt="Baryard Millet"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Jhangora</h2>
            <p>
              Known as Jhangora in Garhwal and Maadira in Kumaon, the nutritious
              Barnyard Millet organic from the farms of Uttarakhand
            </p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img src="Images/Designer.png" alt="Red Rice" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Laal Chawal</h2>
            <p>
              Red rice, also known as Laal Chawal, from the valleys of
              Uttarakhand full of nutritions and good for your health
            </p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
      </div>

      <p>
        Explore our wide range of organic millets sourced directly from the
        foothills of Uttarakhand. 🎉 COMING SOON! 🚀 Stay tuned for something
        super exciting that’s just around the corner! 🌟 Can’t wait to unveil
        what we’ve got in store for you! 🎁 Keep your eyes peeled! 👀
        #StayCurious #BigReveal 🔜😄
      </p>
      <!-- Product listings go here -->
      <br />
      <br />
    </div>
    <div class="footer">
      <p>© 2024 MilletiQue. All rights reserved.</p>
    </div>
  </body>
</html>
