<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/login_styles.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="login-wrapper">
        <div class="login">
          <div class="overlap-group">
            <div class="text-wrapper">MilletiQue</div>
            <div class="div">Log in</div>
            <div class="text-wrapper-2">Create Account</div>
            <div class="overlap"><div class="text-wrapper-3">Sign in</div></div>
            <div class="email-password">
              <div class="rectangle"></div>
              <div class="text-wrapper-4">Email</div>
              <div class="rectangle-2"></div>
              <div class="text-wrapper-5">Password</div>
              <div class="text-wrapper-6">Forgot Password?</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
